body{

    margin:0;
    background:black;
    color:#00ffff;
    
    font-family:'Press Start 2P', monospace;
    
    }
    
    
    
    /* MATRIX */
    
    canvas{
        position:fixed;
        top:0;
        left:0;
        z-index:-1;
        }
    
    
    
    /* NAVBAR */
    
    .navbar{
    
    display:flex;
    justify-content:space-between;
    
    padding:20px 60px;
    
    border-bottom:2px solid cyan;
    
    }
    
    
    
    .logo{
    
    display:flex;
    align-items:center;
    gap:10px;
    
    }
    
    
    
    .logo img{
    
    width:40px;
    
    }
    
    
    
    .menu a{
    
    color:cyan;
    
    margin-left:30px;
    
    text-decoration:none;
    
    }
    
    
    
    .menu a:hover{
    
    text-shadow:0 0 10px cyan;
    
    }
    
    
    
    /* HERO */
    
    .hero{
    
    text-align:center;
    
    padding:120px 20px;
    
    }
    
    
    
    .hero h1{
    
    font-size:35px;
    
    text-shadow:
    
    0 0 10px cyan,
    0 0 20px cyan;
    
    }
    
    
    
    /* BUTTON */
    
    .btn{
    
    background:cyan;
    color:black;
    
    padding:12px 25px;
    
    text-decoration:none;
    
    display:inline-block;
    
    margin-top:20px;
    
    box-shadow:
    
    0 0 10px cyan,
    0 0 20px cyan;
    
    }
    
    
    
    .btn:hover{
    
    transform:scale(1.1);
    
    box-shadow:
    
    0 0 20px cyan,
    0 0 40px cyan;
    
    }
    
    
    
    /* CARDS */
    
    .cards{
    
    display:flex;
    
    justify-content:center;
    
    gap:40px;
    
    padding:60px;
    
    flex-wrap:wrap;
    
    }
    
    
    
    .card{
    
    background:#111;
    
    border:1px solid cyan;
    
    padding:30px;
    
    width:300px;
    
    box-shadow:0 0 20px cyan;
    
    }
    
    
    
    .card:hover{
    
    transform:scale(1.05);
    
    }
    
    
    
    /* PLUGIN SECTION */
    
    .plugin-section{
    
    padding:60px;
    text-align:center;
    
    }
    
    
    
    #search{
    
    padding:10px;
    
    margin:30px;
    
    border:1px solid cyan;
    
    background:black;
    
    color:white;
    
    }
    
    
    
    /* PLUGIN GRID */
    
    .plugin-grid{
    
    display:grid;
    
    grid-template-columns:
    
    repeat(auto-fit,minmax(250px,1fr));
    
    gap:30px;
    
    padding:40px;
    
    }
    
    
    
    .plugin-card{
    
    background:#111;
    
    border:1px solid cyan;
    
    padding:30px;
    
    box-shadow:0 0 20px cyan;
    
    }
    
    
    
    .plugin-card img{
    
    width:100px;
    
    margin-bottom:15px;
    
    }
    
    
    
    .rating{
    
    margin:10px;
    
    color:yellow;
    
    }
    
    
    
    /* LOADER */
    
    #loader{
    
    position:fixed;
    
    top:0;
    left:0;
    
    width:100%;
    height:100%;
    
    background:black;
    
    display:flex;
    
    justify-content:center;
    align-items:center;
    
    z-index:9999;
    
    }
    
    
    
    .loader-box{
    
    text-align:center;
    
    color:cyan;
    
    }
    
    
    
    .loading-bar{

        width:350px;
        height:22px;
        
        border:3px solid #0ff;
        
        display:flex;
        
        justify-content:flex-start;
        
        }
    
    
    
        .loading-progress{

            height:100%;
            
            width:0%;
            
            background:#0ff;
            
            animation:loading 3s linear forwards;
            
            }
    
    
    
    @keyframes loading{
    
    0%{width:0%;}
    100%{width:100%;}
    
    }
    .loader-box{

        text-align:center;
        
        color:#0ff;
        
        font-family:'Press Start 2P', monospace;
        
        display:flex;
        flex-direction:column;
        align-items:center;
        
        gap:20px;
        
        }
        .download-btn{

            margin-top:20px;
            
            padding:12px 30px;
            
            background:transparent;
            
            color:#00ffff;
            
            border:2px solid #00ffff;
            
            font-family:'Press Start 2P', monospace;
            
            cursor:pointer;
            
            transition:0.3s;
            
            box-shadow:
            0 0 10px cyan,
            0 0 20px cyan;
            
            }
            
            /* hover effect */
            
            .download-btn:hover{
            
            background:#00ffff;
            
            color:black;
            
            transform:scale(1.1);
            
            box-shadow:
            0 0 20px cyan,
            0 0 40px cyan,
            0 0 60px cyan;
            
            }        
            .wiki{

                display:flex;
                
                gap:40px;
                
                padding:60px;
                
                }
                
                
                /* SIDEBAR */
                
                .wiki-sidebar{
                
                width:280px;
                
                background:#0d0d0d;
                
                border:2px solid cyan;
                
                padding:25px;
                
                box-shadow:0 0 20px cyan;
                
                }
                
                
                .wiki-sidebar h2{
                
                font-size:16px;
                
                margin-bottom:20px;
                
                }
                
                
                .wiki-sidebar ul{
                
                list-style:none;
                
                padding:0;
                
                }
                
                
                .wiki-sidebar li{
                
                padding:12px;
                
                margin-bottom:10px;
                
                cursor:pointer;
                
                border:1px solid cyan;
                
                transition:0.3s;
                
                }
                
                
                .wiki-sidebar li:hover{
                
                background:cyan;
                
                color:black;
                
                transform:translateX(5px);
                
                }
                
                
                
                /* CONTENT */
                
                .wiki-content{
                
                flex:1;
                
                background:#0d0d0d;
                
                border:2px solid cyan;
                
                padding:40px;
                
                box-shadow:0 0 20px cyan;
                
                }
                
                
                .wiki-content h1{
                
                margin-bottom:20px;
                
                }
                
                
                .wiki-content p{
                
                line-height:1.6;
                
                }.wiki{

display:flex;

gap:40px;

padding:60px;

}


/* SIDEBAR */

.wiki-sidebar{

width:280px;

background:#0d0d0d;

border:2px solid cyan;

padding:25px;

box-shadow:0 0 20px cyan;

}


.wiki-sidebar h2{

font-size:16px;

margin-bottom:20px;

}


.wiki-sidebar ul{

list-style:none;

padding:0;

}


.wiki-sidebar li{

padding:12px;

margin-bottom:10px;

cursor:pointer;

border:1px solid cyan;

transition:0.3s;

}


.wiki-sidebar li:hover{

background:cyan;

color:black;

transform:translateX(5px);

}



/* CONTENT */

.wiki-content{

flex:1;

background:#0d0d0d;

border:2px solid cyan;

padding:40px;

box-shadow:0 0 20px cyan;

}


.wiki-content h1{

margin-bottom:20px;

}


.wiki-content p{

line-height:1.6;

}
pre{

    background:black;
    
    border:1px solid cyan;
    
    padding:20px;
    
    margin-top:20px;
    
    overflow-x:auto;
    
    box-shadow:0 0 10px cyan inset;
    
    }